@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body
  color #90a4ae
  padding 0
  margin 0
  display: flex;
  flex-direction column
  height: 100%

header
  text-align center
  padding 50px
  background-color #53e3a6
  background-image linear-gradient(to bottom right,#50a3a2 0,#53e3a6 100%)
  font-size 60px
  color #5fd1b4
  font-family 'Kanit',Helvetica,Arial,sans-serif
  font-weight 800
  letter-spacing -.04em
  line-height .8
  text-transform uppercase
  text-shadow 0.045em .045em .04em rgba(0,0,0,.21)
  box-shadow 0px 20px 20px -10px rgba(0, 0, 0, 0.3) inset

nav 
  height 30px
  background-color #1F1F28
  line-height 30px
  text-transform uppercase

.tab
  margin-right 30px
  color #48A65B
  cursor pointer
  background none
  border none
  height 30px
.tab:hover
  background-color #2C303B

a 
  text-decoration none
  color #f48e70
/*a:hover
  text-decoration underline*/
.ul_italic
  font-style italic
  color grey
.li_name_cont
  color #f48e70
textarea
  width 80%
  height 100px
  background-color #1F1F28
  color #48A65B
  border none
  border 1px solid rgba(70,70,70,.6)
  margin-top 10px
  padding 10px

/* tab */
#tabs 
  display inline-block
  z-index:5
  margin 0
  background-color #2C303B
  height auto

#tabs .tabborder 
  border-bottom 3px solid #48A65B

#tabs .tabContent 
  width auto
  position relative
  padding 20px

#tabs .hide 
  display none

#tabs .show 
  display block

footer 
  background-color #1F1F28
  height 100px
  line-height 100px
  text-align center
  flex: 0 0 auto;

.p_footer 
  margin 0

/*общие*/
*[tooltip]:hover:after
  content attr(tooltip)
  color #48A65B
  border 1px solid #48A65B
  border-radius 3px
  padding 3px
  font-size 80%
  position relative
  left 10px

span
  color #3dc0f1

#ul_html, #ul_CSS
  display none

.btn_show_hide
  border 1px solid #48a65b
  border-radius 3px
  background none
  color #48a65b
  padding 3px 6px 3px 6px
  margin-right 10px

.btn_show_hide:hover
  box-shadow 0 0 5px rgba(0, 0, 0, .8) inset
  text-shadow 1px 1px 5px rgba(0, 0, 0, .3)

/* table*/
@font-face
	font-family 'SourceCodePro-Regular'
	src: url('../fonts/SourceCodePro-Regular.ttf')

@font-face
	font-family 'HelveticaNeueCyr-Black'
	src: url('../fonts/HelveticaNeueCyr-Black.ttf')

.tabContent_html > p
  font-family 'SourceCodePro-Regular'
  color #48a65b
  font-size 15px

.tabContent > h1 
  font-family 'HelveticaNeueCyr-Black'

.tabContent_html_table, .tabContent_css_table, .tabContent_js_table
  font-family 'SourceCodePro-Regular'
  color #48a65b
  font-size 15px
.b 
  font-weight bold
  font-size 15px
  color #f48e70
.i 
  color #90a4ae

tr > td
  border 1px dashed transparent
tr:hover td
  border-top 1px dashed #3dc0f1
  border-bottom 1px dashed #3dc0f1

/* select text */
::selection
  background #1f1f28
  color #48a65b
::-moz-selection
  background #1f1f28
  color #48a65b
::-webkit-selection
  background #1f1f28
  color #48a65b