/*@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");*/
.glitch {
  color: #fff;
  font-size: 100px;
  margin: 0 auto;
  width: 400px;
  font-family: sans-serif;
}
.glitch {
  position: relative;
}
.glitch:after {
  animation: glitch-animation 2s infinite linear alternate-reverse;
  background: #2c303b;
  clip: rect(0, 900px, 0, 0);
  color: #fff;
  content: attr(data-text);
  left: 2px;
  overflow: hidden;
  position: absolute;
  text-shadow: -1px 0 #f00;
  top: 0;
}
.glitch:before {
  animation: glitch-animation-2 3s infinite linear alternate-reverse;
  background: #2c303b;
  clip: rect(0, 900px, 0, 0);
  color: #fff;
  content: attr(data-text);
  left: -2px;
  overflow: hidden;
  position: absolute;
  text-shadow: 1px 0 #00f;
  top: 0;
}
@-moz-keyframes glitch-animation {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
  }
  5% {
    clip: rect(12px, 9999px, 59px, 0);
  }
  10% {
    clip: rect(48px, 9999px, 29px, 0);
  }
  15.0% {
    clip: rect(42px, 9999px, 73px, 0);
  }
  20% {
    clip: rect(63px, 9999px, 27px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 55px, 0);
  }
  30.0% {
    clip: rect(86px, 9999px, 73px, 0);
  }
  35% {
    clip: rect(20px, 9999px, 20px, 0);
  }
  40% {
    clip: rect(26px, 9999px, 60px, 0);
  }
  45% {
    clip: rect(25px, 9999px, 66px, 0);
  }
  50% {
    clip: rect(57px, 9999px, 98px, 0);
  }
  55.0% {
    clip: rect(5px, 9999px, 46px, 0);
  }
  60.0% {
    clip: rect(82px, 9999px, 31px, 0);
  }
  65% {
    clip: rect(54px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(28px, 9999px, 99px, 0);
  }
  75% {
    clip: rect(45px, 9999px, 69px, 0);
  }
  80% {
    clip: rect(23px, 9999px, 85px, 0);
  }
  85.0% {
    clip: rect(54px, 9999px, 84px, 0);
  }
  90% {
    clip: rect(45px, 9999px, 47px, 0);
  }
  95% {
    clip: rect(37px, 9999px, 20px, 0);
  }
  100% {
    clip: rect(4px, 9999px, 91px, 0);
  }
}
@-webkit-keyframes glitch-animation {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
  }
  5% {
    clip: rect(12px, 9999px, 59px, 0);
  }
  10% {
    clip: rect(48px, 9999px, 29px, 0);
  }
  15.0% {
    clip: rect(42px, 9999px, 73px, 0);
  }
  20% {
    clip: rect(63px, 9999px, 27px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 55px, 0);
  }
  30.0% {
    clip: rect(86px, 9999px, 73px, 0);
  }
  35% {
    clip: rect(20px, 9999px, 20px, 0);
  }
  40% {
    clip: rect(26px, 9999px, 60px, 0);
  }
  45% {
    clip: rect(25px, 9999px, 66px, 0);
  }
  50% {
    clip: rect(57px, 9999px, 98px, 0);
  }
  55.0% {
    clip: rect(5px, 9999px, 46px, 0);
  }
  60.0% {
    clip: rect(82px, 9999px, 31px, 0);
  }
  65% {
    clip: rect(54px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(28px, 9999px, 99px, 0);
  }
  75% {
    clip: rect(45px, 9999px, 69px, 0);
  }
  80% {
    clip: rect(23px, 9999px, 85px, 0);
  }
  85.0% {
    clip: rect(54px, 9999px, 84px, 0);
  }
  90% {
    clip: rect(45px, 9999px, 47px, 0);
  }
  95% {
    clip: rect(37px, 9999px, 20px, 0);
  }
  100% {
    clip: rect(4px, 9999px, 91px, 0);
  }
}
@-o-keyframes glitch-animation {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
  }
  5% {
    clip: rect(12px, 9999px, 59px, 0);
  }
  10% {
    clip: rect(48px, 9999px, 29px, 0);
  }
  15.0% {
    clip: rect(42px, 9999px, 73px, 0);
  }
  20% {
    clip: rect(63px, 9999px, 27px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 55px, 0);
  }
  30.0% {
    clip: rect(86px, 9999px, 73px, 0);
  }
  35% {
    clip: rect(20px, 9999px, 20px, 0);
  }
  40% {
    clip: rect(26px, 9999px, 60px, 0);
  }
  45% {
    clip: rect(25px, 9999px, 66px, 0);
  }
  50% {
    clip: rect(57px, 9999px, 98px, 0);
  }
  55.0% {
    clip: rect(5px, 9999px, 46px, 0);
  }
  60.0% {
    clip: rect(82px, 9999px, 31px, 0);
  }
  65% {
    clip: rect(54px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(28px, 9999px, 99px, 0);
  }
  75% {
    clip: rect(45px, 9999px, 69px, 0);
  }
  80% {
    clip: rect(23px, 9999px, 85px, 0);
  }
  85.0% {
    clip: rect(54px, 9999px, 84px, 0);
  }
  90% {
    clip: rect(45px, 9999px, 47px, 0);
  }
  95% {
    clip: rect(37px, 9999px, 20px, 0);
  }
  100% {
    clip: rect(4px, 9999px, 91px, 0);
  }
}
@keyframes glitch-animation {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
  }
  5% {
    clip: rect(12px, 9999px, 59px, 0);
  }
  10% {
    clip: rect(48px, 9999px, 29px, 0);
  }
  15.0% {
    clip: rect(42px, 9999px, 73px, 0);
  }
  20% {
    clip: rect(63px, 9999px, 27px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 55px, 0);
  }
  30.0% {
    clip: rect(86px, 9999px, 73px, 0);
  }
  35% {
    clip: rect(20px, 9999px, 20px, 0);
  }
  40% {
    clip: rect(26px, 9999px, 60px, 0);
  }
  45% {
    clip: rect(25px, 9999px, 66px, 0);
  }
  50% {
    clip: rect(57px, 9999px, 98px, 0);
  }
  55.0% {
    clip: rect(5px, 9999px, 46px, 0);
  }
  60.0% {
    clip: rect(82px, 9999px, 31px, 0);
  }
  65% {
    clip: rect(54px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(28px, 9999px, 99px, 0);
  }
  75% {
    clip: rect(45px, 9999px, 69px, 0);
  }
  80% {
    clip: rect(23px, 9999px, 85px, 0);
  }
  85.0% {
    clip: rect(54px, 9999px, 84px, 0);
  }
  90% {
    clip: rect(45px, 9999px, 47px, 0);
  }
  95% {
    clip: rect(37px, 9999px, 20px, 0);
  }
  100% {
    clip: rect(4px, 9999px, 91px, 0);
  }
}
@-moz-keyframes glitch-animation-2 {
  0% {
    clip: rect(65px, 9999px, 100px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 74px, 0);
  }
  10% {
    clip: rect(79px, 9999px, 85px, 0);
  }
  15.0% {
    clip: rect(75px, 9999px, 5px, 0);
  }
  20% {
    clip: rect(67px, 9999px, 61px, 0);
  }
  25% {
    clip: rect(14px, 9999px, 79px, 0);
  }
  30.0% {
    clip: rect(1px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(86px, 9999px, 30px, 0);
  }
  40% {
    clip: rect(23px, 9999px, 98px, 0);
  }
  45% {
    clip: rect(85px, 9999px, 72px, 0);
  }
  50% {
    clip: rect(71px, 9999px, 75px, 0);
  }
  55.0% {
    clip: rect(2px, 9999px, 48px, 0);
  }
  60.0% {
    clip: rect(30px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(59px, 9999px, 50px, 0);
  }
  70% {
    clip: rect(41px, 9999px, 62px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 82px, 0);
  }
  80% {
    clip: rect(47px, 9999px, 73px, 0);
  }
  85.0% {
    clip: rect(3px, 9999px, 27px, 0);
  }
  90% {
    clip: rect(26px, 9999px, 55px, 0);
  }
  95% {
    clip: rect(42px, 9999px, 97px, 0);
  }
  100% {
    clip: rect(38px, 9999px, 49px, 0);
  }
}
@-webkit-keyframes glitch-animation-2 {
  0% {
    clip: rect(65px, 9999px, 100px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 74px, 0);
  }
  10% {
    clip: rect(79px, 9999px, 85px, 0);
  }
  15.0% {
    clip: rect(75px, 9999px, 5px, 0);
  }
  20% {
    clip: rect(67px, 9999px, 61px, 0);
  }
  25% {
    clip: rect(14px, 9999px, 79px, 0);
  }
  30.0% {
    clip: rect(1px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(86px, 9999px, 30px, 0);
  }
  40% {
    clip: rect(23px, 9999px, 98px, 0);
  }
  45% {
    clip: rect(85px, 9999px, 72px, 0);
  }
  50% {
    clip: rect(71px, 9999px, 75px, 0);
  }
  55.0% {
    clip: rect(2px, 9999px, 48px, 0);
  }
  60.0% {
    clip: rect(30px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(59px, 9999px, 50px, 0);
  }
  70% {
    clip: rect(41px, 9999px, 62px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 82px, 0);
  }
  80% {
    clip: rect(47px, 9999px, 73px, 0);
  }
  85.0% {
    clip: rect(3px, 9999px, 27px, 0);
  }
  90% {
    clip: rect(26px, 9999px, 55px, 0);
  }
  95% {
    clip: rect(42px, 9999px, 97px, 0);
  }
  100% {
    clip: rect(38px, 9999px, 49px, 0);
  }
}
@-o-keyframes glitch-animation-2 {
  0% {
    clip: rect(65px, 9999px, 100px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 74px, 0);
  }
  10% {
    clip: rect(79px, 9999px, 85px, 0);
  }
  15.0% {
    clip: rect(75px, 9999px, 5px, 0);
  }
  20% {
    clip: rect(67px, 9999px, 61px, 0);
  }
  25% {
    clip: rect(14px, 9999px, 79px, 0);
  }
  30.0% {
    clip: rect(1px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(86px, 9999px, 30px, 0);
  }
  40% {
    clip: rect(23px, 9999px, 98px, 0);
  }
  45% {
    clip: rect(85px, 9999px, 72px, 0);
  }
  50% {
    clip: rect(71px, 9999px, 75px, 0);
  }
  55.0% {
    clip: rect(2px, 9999px, 48px, 0);
  }
  60.0% {
    clip: rect(30px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(59px, 9999px, 50px, 0);
  }
  70% {
    clip: rect(41px, 9999px, 62px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 82px, 0);
  }
  80% {
    clip: rect(47px, 9999px, 73px, 0);
  }
  85.0% {
    clip: rect(3px, 9999px, 27px, 0);
  }
  90% {
    clip: rect(26px, 9999px, 55px, 0);
  }
  95% {
    clip: rect(42px, 9999px, 97px, 0);
  }
  100% {
    clip: rect(38px, 9999px, 49px, 0);
  }
}
@keyframes glitch-animation-2 {
  0% {
    clip: rect(65px, 9999px, 100px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 74px, 0);
  }
  10% {
    clip: rect(79px, 9999px, 85px, 0);
  }
  15.0% {
    clip: rect(75px, 9999px, 5px, 0);
  }
  20% {
    clip: rect(67px, 9999px, 61px, 0);
  }
  25% {
    clip: rect(14px, 9999px, 79px, 0);
  }
  30.0% {
    clip: rect(1px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(86px, 9999px, 30px, 0);
  }
  40% {
    clip: rect(23px, 9999px, 98px, 0);
  }
  45% {
    clip: rect(85px, 9999px, 72px, 0);
  }
  50% {
    clip: rect(71px, 9999px, 75px, 0);
  }
  55.0% {
    clip: rect(2px, 9999px, 48px, 0);
  }
  60.0% {
    clip: rect(30px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(59px, 9999px, 50px, 0);
  }
  70% {
    clip: rect(41px, 9999px, 62px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 82px, 0);
  }
  80% {
    clip: rect(47px, 9999px, 73px, 0);
  }
  85.0% {
    clip: rect(3px, 9999px, 27px, 0);
  }
  90% {
    clip: rect(26px, 9999px, 55px, 0);
  }
  95% {
    clip: rect(42px, 9999px, 97px, 0);
  }
  100% {
    clip: rect(38px, 9999px, 49px, 0);
  }
}
.topbutton {
  width: 70px;
  background-color: #2c303b;
  border: 2px solid #48a65b;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  color: #48a65b;
  font-family: verdana;
  font-size: 12px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}
#button_terminal {
  height: 40px;
  width: 100px;
/*position relative
	top 20px
	left 20px*/
  float: left;
  border: 2px solid #30d5c8;
  background: transparen;
  color: #30d5c8;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
#button_terminal:hover {
  background: #30d5c8;
  color: #fff;
  transition: 0.3s linear;
}
#terminal {
  height: 300px;
  width: 500px;
  background-color: #30d5c8;
  box-shadow: 0 0 30px rgba(0,0,0,0.8);
  z-index: 2;
  display: none;
  z-index: 2;
  clear: both;
  position: relative;
}
#terminal > .input {
  height: 300px;
  width: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
  outline: none;
  background: none;
  resize: none;
  color: #fff;
  line-height: 1.6;
  font-size: 15px;
  text-align: left;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#terminal > .output {
  height: 300px;
  width: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #f00;
  line-height: 1.6;
  font-size: 15px;
  font-weight: 600;
  text-align: right;
  border: 1px solid #f00;
}
#terminal > .output.prefix:before,
content attr(data-prefix),
color #E9E9E9,
#terminal > .output.data,
z-index 1,
position relative,
#terminal > .output > .result,
color silver,
#terminal > .output > .error,
color red,
#input::-webkit-input-placeholder {
  color: #fff;
}
#input::-moz-placeholder {
  color: #fff;
}
#input:-moz-placeholder {
  color: #fff;
}
#input:-ms-input-placeholder {
  color: #fff;
}
.box3d_wrp {
  height: 500px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
#box3d {
  height: 500px;
  width: 200px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform-origin: 100px 0 -100px;
  transition: 1.5s ease;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  margin: 0 auto;
}
#box3d_c,
#box3d_l,
#box3d_t,
#box3d_r {
  height: 500px;
  width: 200px;
  position: absolute;
  top: 0px;
  float: left;
  text-align: center;
  line-height: 750px;
}
#box3d_c {
  left: 0px;
  background: url("../images/bg2.png") repeat, url("../images/slide/imgCube_1.jpg") no-repeat;
}
#box3d_l {
  left: -200px;
  background: url("../images/bg2.png") repeat, url("../images/slide/imgCube_2.jpg") no-repeat;
  transform: rotateY(-90deg);
  transform-origin: 100% 0;
}
#box3d_t {
  left: -400px;
  background: url("../images/bg2.png") repeat, url("../images/slide/imgCube_3.jpg") no-repeat;
  transform: rotateY(180deg);
  transform-origin: 300px 0 -100px;
}
#box3d_r {
  left: 200px;
  background: url("../images/bg2.png") repeat, url("../images/slide/imgCube_4.jpg") no-repeat;
  transform: rotateY(90deg);
  transform-origin: 0 0;
}
#but_box3d_1,
#but_box3d_2,
#but_box3d_3,
#but_box3d_4 {
  height: 500px;
  width: 200px;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
}
#but_box3d_1 {
  display: block;
}
#but_box3d_2,
#but_box3d_3,
#but_box3d_4 {
  display: none;
}
.s1 {
  color: #f90;
  background: rgba(0,0,0,0.45);
  font-size: 16px;
  font-weight: bold;
  padding: 10px 10%;
}
.wrapper_2 {
  height: 500px;
  width: 800px;
  float: left;
  perspective: 1000px;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.grid-wrap {
  position: relative;
  transform: rotateX(70deg) scale3d(4, 4, 1) translateZ(-750px) translateY(-500px) translateX(-50px);
}
.grid {
  height: 500px;
  width: 500px;
  color: #fff;
  background-color: transparent;
  background-image: radial-gradient(transparent, #121212 50%), linear-gradient(rgba(129,243,255,0.4) 1px, transparent 1px), linear-gradient(90deg, rgba(129,243,255,0.4) 1px, transparent 1px), linear-gradient(rgba(129,243,255,0.2) 1px, transparent 1px), linear-gradient(90deg, rgba(129,243,255,0.2) 1px, transparent 1px);
  background-size: 500px 500px, 125px 125px, 125px 125px, 31.25px 31.25px, 31.25px 31.25px;
  background-position: 0 0, -1px -1px, -1px -1px, 0px 0px, 0px 0px;
  background-repeat: no-repeat, repeat, repeat, repeat, repeat;
}
.anim {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-name: anim;
}
@-webkit-keyframes anim {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
  }
}
.hous {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: rotateX(70deg) scale3d(4, 4, 1) translateZ(-750px) translateY(-500px) translateX(-50px);
  position: absolute;
  top: 200px;
  left: 300px;
  float: left;
}
.flat_1 {
  height: 100px;
  width: 100px;
  position: relative;
  top: 200px;
  left: 200px;
  border: 2px solid rgba(96,138,177,0.7);
  background-color: rgba(19,33,50,0.5);
  color: #fff;
  text-align: center;
  transform: rotateY(0deg) rotateX(0deg);
}
.fon {
  height: 300px;
  width: 600px;
  background-color: #edeef0;
  padding: 50px;
}
.btn-box_1 {
  height: 100px;
  width: 200px;
  background-color: #3dc0f1;
  margin-top: 50px;
  border-radius: 5px;
  font-family: 'OpenSans-Regular', sans-serif;
  color: #fff;
  line-height: 100px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  text-align: center;
  font-size: 200%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.enter_the_data {
  height: 100%;
  width: 35%;
  background: #707276;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  float: left;
  padding: 20px;
  display: table-cell;
}
.name-box_gray {
  color: #4c4f54;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 20px;
}
::selection {
  background: #1f1f28;
  color: #48a65b;
}
::-moz-selection {
  background: #1f1f28;
  color: #48a65b;
}
::-webkit-selection {
  background: #1f1f28;
  color: #48a65b;
}
tr > td {
  border: 1px dashed transparent;
}
tr:hover td {
  background-color: #1f1f28;
}
@font-face {
  font-family: 'SourceCodePro-Regular';
  src: url("../fonts/SourceCodePro-Regular.ttf");
}
@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src: url("../fonts/HelveticaNeueCyr-Black.ttf");
}
@font-face {
  font-family: 'OpenSans-Italic';
  src: url("../fonts/OpenSans-Italic.ttf");
}
.btn_show_hide {
  border: 1px solid #48a65b;
  border-radius: 3px;
  background: none;
  color: #48a65b;
  padding: 3px 6px 3px 6px;
  margin-right: 10px;
}
.btn_show_hide:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.8) inset;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
/*button*/
}
.btn-white-submit {
  height: 50px;
  width: 100px;
  color: #fff;
  background-color: #3dc0f1;
  border: 1px solid #3dc0f1;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  line-height: 50px;
  font-size: 100%;
  text-align: center;
  text-transform: uppercase;
}
.btn-white-submit cursor pointer {
  font-family: 'OpenSans-Regular', sans-serif;
}
.btn-white-submit:hover {
  background-color: #edeef0;
  border: 1px solid #3dc0f1;
  color: #3dc0f1;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  transition: 0.3s linear;
}
.txtar_2 {
  height: 30px;
  border: 1px solid rgba(70,70,70,0.6);
  background-color: #4c4f54;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  resize: none;
  text-align: center;
  font-size: 15px;
  color: #f44336;
  font-weight: bold;
}
.txtar_2:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
.txtar_2 {
  width: 100%;
  margin-bottom: 30px;
}
.txtar_2::-webkit-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.txtar_2::-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.txtar_2:-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.txtar_2:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.txtar_2:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.txtar_2:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.txtar_2:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.txtar_2:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
@media screen and (min-width: 200px) and (max-width: 480px) {
  .txtar_2 {
    margin-bottom: 15px;
  }
}
body {
  color: #90a4ae;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #2c303b;
}
header {
  text-align: center;
  padding: 50px;
  background-color: #53e3a6;
  background-image: linear-gradient(to bottom right, #50a3a2 0, #53e3a6 100%);
  font-size: 60px;
  color: #5fd1b4;
  font-family: 'Kanit', Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -0.04em;
  line-height: 0.8;
  text-transform: uppercase;
  text-shadow: 0.045em 0.045em 0.04em rgba(0,0,0,0.21);
  box-shadow: 0px 20px 20px -10px rgba(0,0,0,0.3) inset;
  position: relative;
}
nav {
  background-color: #1f1f28;
  line-height: 30px;
  text-transform: uppercase;
}
.tab {
  margin-right: 30px;
  color: #48a65b;
  cursor: pointer;
  background: none;
  border: none;
  height: 30px;
}
.tab:hover {
  background-color: #2c303b;
}
a {
  text-decoration: none;
  color: #f48e70;
}
.ul_italic {
  font-style: italic;
  color: #808080;
}
.li_name_cont {
  color: #f48e70;
}
textarea {
  width: 80%;
  height: 100px;
  background-color: #1f1f28;
  color: #48a65b;
  border: none;
  border: 1px solid rgba(70,70,70,0.6);
  margin-top: 10px;
  padding: 10px;
}
/* tab */
#tabs {
  display: inline-block;
  z-index: 5;
  margin: 0;
  background-color: #2c303b;
  height: auto;
}
#tabs .tabborder {
  border-bottom: 3px solid #48a65b;
}
#tabs .tabContent {
  width: auto;
  position: relative;
  padding: 20px;
}
#tabs .hide {
  display: none;
}
#tabs .show {
  display: block;
}
.center-img {
  display: block;
  margin: 0 auto;
}
footer {
  background-color: #1f1f28;
  height: 100px;
  line-height: 100px;
  text-align: center;
  flex: 0 0 auto;
}
.p_footer {
  margin: 0;
}
/*общие*/
*[tooltip]:hover:after {
  content: attr(tooltip);
  color: #48a65b;
  border: 1px solid #48a65b;
  border-radius: 3px;
  padding: 3px;
  font-size: 80%;
  position: relative;
  left: 10px;
}
span {
  color: #3dc0f1;
}
#ul_html,
#ul_CSS {
  display: none;
}
/* table*/
.tabContent_html > p {
  font-family: 'SourceCodePro-Regular';
  color: #48a65b;
  font-size: 15px;
}
.tabContent > h1 {
  font-family: 'HelveticaNeueCyr-Black';
}
.tabContent_html_table,
.tabContent_css_table,
.tabContent_js_table {
  font-family: 'SourceCodePro-Regular';
  color: #48a65b;
  font-size: 15px;
}
.b {
  font-weight: bold;
  font-size: 15px;
  color: #f48e70;
}
.i {
  color: #90a4ae;
}
.color {
  height: 10px;
  width: 30px;
  border-radius: 5px;
}
.color-red {
  background-color: #f44336;
}
.color-pink {
  background-color: #ff007e;
}
.color-purple {
  background-color: #812991;
}
.color-turquoise {
  background-color: #00afff;
}
.color-turquoise_1 {
  background-color: #30d5c8;
}
.color-grey-light {
  background-color: #edeef0;
}
.color-green {
  background-color: #48a65b;
}
.color-bg-light {
  background-color: #3a3a3a;
}
.color-bg-dark {
  background-color: #2b2b2b;
}
.color-border-color {
  background-color: #222;
}
/*gggggggg*/
.tabs {
  max-width: 90%;
  float: none;
  list-style: none;
  padding: 0;
  margin: 75px auto;
/*border-bottom: 4px solid #90a4ae;*/
}
.tabs:after {
  content: '';
  display: table;
  clear: both;
}
.tabs input[type=radio] {
  display: none;
}
.tabs label p {
  padding: 5px;
  margin-right: 0;
}
.tabs label {
  display: block;
  float: left;
  margin: 0 auto;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  line-height: 2;
  cursor: pointer;
  box-shadow: inset 0 4px #90a4ae;
  border-bottom: 4px solid #90a4ae;
  -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
  transition: all 0.5s;
  padding: 0 30px;
}
.tabs label span {
  display: none;
}
.tabs label:hover {
  color: #48a65b;
  box-shadow: inset 0 4px #48a65b;
/*border-bottom: 4px solid #48a65b;*/
}
.tab-content {
  display: none;
  width: 100%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
}
.tabs [id^="tab"]:checked + label {
  background: #1f1f28;
  box-shadow: inset 0 4px #48a65b;
  border-bottom: 4px solid #48a65b;
  color: #48a65b;
}
#tab-first:checked ~ #tab-content-1,
#tab-second:checked ~ #tab-content-2,
#tab-last:checked ~ #tab-content-3,
#tab-last_1:checked ~ #tab-content-4,
#tab-last_2:checked ~ #tab-content-5,
#tab-last_3:checked ~ #tab-content-6,
#tab-last_4:checked ~ #tab-content-7 {
  display: block;
}
@media (min-width: 768px) {
  .tabs p {
    padding: 5px;
    margin-right: 10px;
  }
  .tabs {
    max-width: 750px;
    margin: 50px auto;
  }
}
/*убрать маркировку списка*/
.ulContact > li {
  list-style-type: none;
}
/*резюме*/
.styleSourceCode {
  font-family: 'SourceCodePro-Regular';
  color: #90a4ae;
}
.styleArialBlack {
  font-family: 'HelveticaNeueCyr-Black';
  color: #90a4ae;
}
.colorTr {
  color: transparent;
}
.styleOpenSansItalic {
  font-family: 'OpenSans-Italic';
  color: #90a4ae;
}
.u {
  text-decoration: underline;
}
.u:hover {
  text-decoration: none;
  color: #00afff;
}
hr {
  width: 100%;
  color: #f00;
}
h3 {
  color: #ff6347;
  width: 100%;
  text-align: center;
}
