/*@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");*/
@import "modules/glitch";
@import "modules/scrol";
@import "modules/terminal";
@import "modules/cube";
@import "modules/grid-wrap";
@import "modules/button";
@import "state/select";
@import "state/border_for_table";
@import "base/font";
@import "base/btn";
@import "base/textarea";

body
  color #90a4ae
  padding 0
  margin 0
  display flex
  flex-direction column
  height: 100%
  background #2c303b

header
  text-align center 
  padding 50px
  background-color #53e3a6
  background-image linear-gradient(to bottom right,#50a3a2 0,#53e3a6 100%)
  font-size 60px
  color #5fd1b4
  font-family 'Kanit',Helvetica,Arial,sans-serif
  font-weight 800
  letter-spacing -.04em
  line-height .8
  text-transform uppercase
  text-shadow 0.045em .045em .04em rgba(0,0,0,.21)
  box-shadow 0px 20px 20px -10px rgba(0, 0, 0, 0.3) inset
  position relative


nav 
  background-color #1F1F28
  line-height 30px
  text-transform uppercase
  

.tab
  margin-right 30px
  color #48A65B
  cursor pointer
  background none
  border none
  height 30px
.tab:hover
  background-color #2C303B

a 
  text-decoration none
  color #f48e70
.ul_italic
  font-style italic
  color grey
.li_name_cont
  color #f48e70
textarea
  width 80%
  height 100px
  background-color #1F1F28
  color #48A65B
  border none
  border 1px solid rgba(70,70,70,.6)
  margin-top 10px
  padding 10px

/* tab */
#tabs 
  display inline-block
  z-index:5
  margin 0
  background-color #2C303B
  height auto

#tabs .tabborder 
  border-bottom 3px solid #48A65B

#tabs .tabContent 
  width auto
  position relative
  padding 20px

#tabs .hide 
  display none

#tabs .show 
  display block

footer 
  background-color #1F1F28
  height 100px
  line-height 100px
  text-align center
  flex 0 0 auto

.p_footer 
  margin 0

/*общие*/
*[tooltip]:hover:after
  content attr(tooltip)
  color #48A65B
  border 1px solid #48A65B
  border-radius 3px
  padding 3px
  font-size 80%
  position relative
  left 10px

span
  color #3dc0f1

#ul_html, #ul_CSS
  display none

/* table*/
.tabContent_html > p
  font-family 'SourceCodePro-Regular'
  color #48a65b
  font-size 15px


.tabContent > h1 
  font-family 'HelveticaNeueCyr-Black'

.tabContent_html_table, .tabContent_css_table, .tabContent_js_table
  font-family 'SourceCodePro-Regular'
  color #48a65b
  font-size 15px
.b 
  font-weight bold
  font-size 15px
  color #f48e70
.i 
  color #90a4ae
.color 
  height 10px
  width 30px
  border-radius 5px
.color-red
  background-color #f44336
.color-pink
  background-color #ff007e
.color-purple
  background-color #812991
.color-turquoise
  background-color #00AFFF
.color-turquoise_1
  background-color #30D5C8
.color-grey-light
  background-color #edeef0
.color-green
  background-color #48A65B
.color-bg-light
  background-color #3a3a3a
.color-bg-dark
  background-color #2b2b2b
.color-border-color
  background-color #222222








/*gggggggg*/
.tabs {
    max-width: 90%;
    float: none;
    list-style: none;
    padding: 0;
    margin: 75px auto;
    /*border-bottom: 4px solid #90a4ae;*/
}
.tabs:after {
    content: '';
    display: table;
    clear: both;
}
.tabs input[type=radio] {
    display:none;
}
.tabs label p {
    padding: 5px;
    margin-right: 0;
}
.tabs label {
    display: block;
    float: left;
    width: 25%;
    margin: 0 auto;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    box-shadow: inset 0 4px #90a4ae;
    border-bottom: 4px solid #90a4ae;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
    transition: all 0.5s;
}
.tabs label span {
    display: none;
}
.tabs label:hover {
    color: #48a65b;
    box-shadow: inset 0 4px #48a65b;
    /*border-bottom: 4px solid #48a65b;*/
}
.tab-content {
    display: none;
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.tabs [id^="tab"]:checked + label {
    background: #1f1f28;
    box-shadow: inset 0 4px #48a65b;
    border-bottom: 4px solid #48a65b;
    color: #48a65b;
}
#tab-first:checked ~ #tab-content-1,
#tab-second:checked ~ #tab-content-2,
#tab-last:checked ~ #tab-content-3,
#tab-last_1:checked ~ #tab-content-4,
#tab-last_2:checked ~ #tab-content-5
{
    display: block;
}


@media (min-width: 768px) {
    .tabs p {
        padding: 5px;
        margin-right: 10px;
    }
    .tabs {
    max-width: 750px;
    margin: 50px auto;
    }
}

/*убрать маркировку списка*/
.ulContact > li 
  list-style-type: none;