<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        <link href="css/main.css" type="text/css" rel="stylesheet"> 
body
header Front-end developer
main#tabs
    nav
        button.tab Plan
        button.tab Tools
        button.tab Type site
        button.tab Info
        button.tab HTML
        button.tab CSS
    section.tabContent
        |
        h1 План разработки (реальный)
        p Разработка <span>SPA</span> по методологии 
            a(href="http://www.dpgrup.ru/methodology-rup.htm" target="_blank") RUP 
            | . 
        p Разметка <span>HTML</span> на шаблонизаторе 
            a(href="https://pugjs.org/api/getting-started.html" target="_blank") Pug 
            | .
        p Написание стилей <span>CSS</span> на препроцессоре 
            a(href="http://stylus-lang.com/" target="_blank") Stylus 
            | по системе 
            a(href="https://smacss.com/" target="_blank") SMACSS 
            | и 
            a(href="https://ru.bem.info/" target="_blank") BEM 
            | . 
        p Интерактивность на <span>JavaScript</span> 
            | по стандарту 
            a(href="" target="_blank") ES6 
            | . 

        br
        hr
        h1 План разработки (общий)
        p Разработка <span>SPA</span> или <span>RIA</span> по методологии 
            a(href="http://www.dpgrup.ru/methodology-rup.htm" target="_blank") RUP 
            | быстро. 
        p Создание схемы сайта 
            a(href="http://www.uml.org/" target="_blank") UML 
            | в <span>www.draw.io</span>.
        p Создание <span>UI</span> схемы (wireframes) в Axure & www.app.moqups.com.
        p Создание <span>UI</span> дизайна в GIMP, Inkscape, Blender ; в стиле - минимализм и типографика.
        p Разметка <span>HTML</span> на 
            a(href="https://pugjs.org/api/getting-started.html" target="_blank") Pug 
            | .
        p Добавление модулей <span>CSS</span> на 
            a(href="https://getuikit.com/" target="_blank") UiKit 
            | .
        p Написание стилей <span>CSS</span> на препроцессоре 
            a(href="http://stylus-lang.com/" target="_blank") Stylus 
            | по системе SMACSS и BEM.
        p Добавление интерактивности на 
            a(href="https://ru.vuejs.org/" target="_blank") Vue 
            | по методологии 
            a(href="https://vuex.vuejs.org/ru/intro.html" target="_blank") Vuex 
            | (или на фреймверке 
            a(href="https://ru.nuxtjs.org/" target="_blank")  Nuxt 
            |)
        p Подключение 
            a(href="https://babeljs.io/" target="_blank") Babel 
            | для интеграции 
            a(href="" target="_blank") ES6 
            | .
        p Написание логики на 
            a(href="https://www.python.org/" target="_blank") Python 
            | согласно 
            a(href="" target="_blank") OOP 
            | , 
            a(href="" target="_blank") SOLID 
            | , 
            a(href="" target="_blank") DRY 
            | , 
            a(href="" target="_blank") KISS 
            | , 
            a(href="" target="_blank") YAGNI 
            | по стандарту 
            a(href="" target="_blank") PEP-8 
            | или на фреймверке 
            a(href="https://djbook.ru/" target="_blank") Django 
            | .
        p Создание таблиц Баз данных на 
            a(href="https://sqlite.org/" target="_blank") SQLite 
            | по стандарту <span>PEP 249</span> на основе 
            a(href="http://www.sql-ex.ru" target="_blank") SQL 
            | .
        p Установка пакетов через 
            a(href="https://www.npmjs.com/" target="_blank") Npm 
            | и 
            a(href="https://pip.pypa.io/en/stable/" target="_blank") Pip 
            | при необходимости.
        p Сборка сайта с помощью 
            a(href="https://webpack.github.io/" target="_blank") Webpack 
            | конфигурирование <span>Json</span>.
        p Создания контроля версий 
            a(href="https://git-scm.com/" target="_blank") Git 
            | и работа с ним по методологии 
            a(href="https://danielkummer.github.io/git-flow-cheatsheet/index.ru_RU.html" target="_blank") Git flow 
            | .
        p Тестирование <span>HTML</span> С помощью validator.w3.org и <span>Javascript</span> с помощью 
            a(href="http://jshint.com/" target="_blank") Jshint 
            | .
        p Тестирование <span>SPA</span> с помощью 
            a(href="https://jasmine.github.io/" target="_blank") Jasmine 
            | & 
            a(href="https://karma-runner.github.io/1.0/index.html" target="_blank") Karma
            | .
        p Раскрутка <span>SPA</span> с помощью SEO.
        hr

    section.tabContent 
        h1 Технологии
        table
            tr
                td wireframes
                td Axure & www.app.moqups.com
            tr
                td UI графика
                td GIMP, Inkscape, Blender
            tr
                td UML
                td 	www.draw.io
            tr
                td Разметка
                td 
                    a(href="" tooltip='HyperText Markup Language — язык гипертекстовой разметки') HTML
            tr
                td Разметка
                td Markdown
            tr
                td Стили
                td 
                    a(href="" tooltip='Cascading Style Sheets — каскадные таблицы стилей') CSS
            tr
                td Шаблонизатор HTML
                td Pug
            tr
                td Фреймверк CSS
                td UiKit
            tr
                td Препроессор CSS
                td Stylus
            tr
                td Библиотека JS
                td Vue.js
            tr
                td Фреймверк Python
                td 	Django
            tr
                td Методология CSS
                td SMACSS + BEM
            tr
                td Методология Vue
                td Vuex
            tr
                td Методология Git
                td Git flow
            tr
                td Методология JS/Py
                td OOP
            tr
                td Методология JS/Py
                td SOLID
            tr
                td Методология JS/Py
                td DRY
            tr
                td Методология JS/Py
                td KISS
            tr
                td Методология JS/Py
                td YAGNI
            tr
                td Язык
                td Englis
            tr
                td Язык програмирования JS
                td JavaScript
            tr
                td Язык програмирования Py
                td Python
            tr
                td Пакетный менеджер JS
                td Npm
            tr
                td Пакетный менеджер Py
                td Pip
            tr
                td База данных
                td SQLite
            tr
                td База данных
                td MySQL
            tr
                td База данных
                td PostgreSQL
            tr
                td Сборщик проекта
                td Webpack
            tr
                td Система контроля версий
                td Git
            tr
                td Среда разработки
                td Visual Studio xmp
            tr
                td Среда разработки
                td DBeaver
            tr
                td Среда разработки
                td Firefox developer edition
            tr
                td Среда разработки
                td FAR
            tr
                td менеджер среды
                td Docker
            tr
                td интерпритатор JS
                td Babel
    section.tabContent
        h1 Типы сайтов
        ul
            li.li_name_cont Сайт визитка
               ul.ul_italic
                    li Landing Page
                    li Промо сайт
                    li Имиджевый сайт
                    li Персональный сайт
            li.li_name_cont Интернет магазин
            li.li_name_cont Корпоративный сайт
            li.li_name_cont Портал
                ul.ul_italic
                    li Блог
                    li Форум
                    li Социальная сеть
                    li Хостинг
            li.li_name_cont SPA
    section.tabContent
        h1 Дополнительно



        h4 Предоставление информации в HTML
            ul#block_id_1(style="display: none;")
                li Текст
                li Выпадающий список
                li Слайдер
                li Кнопка
                li Текстовое после
        button(onclick="showHide('block_id_1')").btn_show_hide show & hide 
        hr
        h4 Предоставление информации в CSS
            ul#block_id_2(style="display: none;")
                li STYLUS
                li переменные
                li вложенности
                li импорт
                li миксины
                li наследование
        button(onclick="showHide('block_id_2')").btn_show_hide show & hide 

        hr
        h4 Предоставление информации в Javascript
            ul#block_id_3(style="display: none;")
                li -
                li -
                li -
                li -
                li -
                li - 
        button(onclick="showHide('block_id_3')").btn_show_hide show & hide 
        hr
        h4 SMACSS
            ul#block_id_4(style="display: none;")
                li base
                li layout
                li modules
                li state
                li theme
        button(onclick="showHide('block_id_4')").btn_show_hide show & hide 
        hr
        h4 BEM
            ul#block_id_5(style="display: none;")
                li Блок
                li Элемент
                li Модификатор
                    ul
                        li булевый
                        li ключ-значение
                li Микс
                    ul
                        li совмещение однотипных сущ.
                        li повторное использование имеющихся сущ.
                li Файловая структура
                    ul
                        li имя-блока_имя-модификатора
                        li имя-блока_имя-модификатора_значение-модификатора
                        li имя-блока__имя-элемента
                        li имя-блока__имя-элемента_имя-модификатора
                        li имя-блока__имя-элемента_имя-модификатора_значение-модификатора
        button(onclick="showHide('block_id_5')").btn_show_hide show & hide 
        hr
        
        h4 USER STORY & USE CASE
            ul#block_id_6(style="display: none;")
                li USER STORY "что нужно сделать (пожелание)"
                    ul
                        li что
                        li зачем 
                        li для кого 
                li USE CASE "сортировка пожелания по группам"
                    ul
                        li GUI 
                        li процессы 
                        li дополнительно 
        button(onclick="showHide('block_id_6')").btn_show_hide show & hide 
        hr
        h4 ЖИЗНЕННЫЙ ЦИКЛ ПО
            ul#block_id_7(style="display: none;")
                li СODE AND FIX                "разработка по до валидации заказчика"
                li RUP                         "методология каскадная (Rational Unified Process)"
                    ul
                        li v-образная              "паралельное тестирование"
                            ul
                                li инкрементная модель "модульный выпуск"
                                li спиральная модель   "аналог каскадной в виде цикла (исключение риска)"
                        li XP                          "Extreme Programming (экстримальное программирование)"
                            ul
                                li Короткий цикл обратной связи
                                    ul 
                                        li разработка через тестирование
                                        li игра в планирование
                                        li заказчик всегда рядом
                                        li парное программирование
                                li Непрерывный, а не пакетный процесс
                                    ul
                                        li непрерывная интеграция
                                        li рефакторинг
                                        li частые небольшие релизы
                                li Понимание, разделяемое всеми
                                    ul
                                        li простота
                                        li метафора системы
                                        li коллективное владение кодом
                                        li стандарт кодирования
                                li Социальная защищённость программиста
                                    ul
                                        li 40-часовая рабочая неделя
                        li AGILE                     "методология итераций"
                            ul
                                li Scrum                 "проект на части и итерировать"
                                li Kanban                "точно в срок + доска со стикерами"
                        li ПРОТОТИПНАЯ
                            ul
                                li иследовательский      "уточнение требований к ПО (для UI)"
                                li экспериментальный     "проверка технологии"
                                li эволюционный          "простая версия продукта"
        button(onclick="showHide('block_id_7')").btn_show_hide show & hide 
        hr
        h4 АРХИТЕКТУРА ПО
            ul#block_id_8(style="display: none;")
                li MVC                       "модель-представление-контроллер"
                li MVP                       "модель-представление-презентатор"
                li MVVM                      "модель-представление-модель-представление"
                li BEM-методологии           "блок, элемент, модификатор"
                li SMACSS-методологии        "масштабируемая и модульная архитектура для CSS + namespace !!!"
                    ul
                        li основа                "стили по умолчанию для базовых селекторов"
                        li структура             "структура вёрстки, размеры элементов, их выравнивание"
                        li модуль                "элементы, из которых строится модуль"
                        li тема                  "визуальное представление элементов стандартно"
                        li состояние             "состояния элементов после применения модификаторов"
                li OOCSS-методологии         "объектно-ориентированный CSS"
                li MCSS-методологии          "многослойный CSS"
                li AMCSS-методологии         "модули атрибутов для CSS"
                li FUN-методологии           "плоская иерархия селекторов, служебные стили, компоненты с неймспейсами"
        button(onclick="showHide('block_id_8')").btn_show_hide show & hide 
        hr
        h4 ООП
            ul#block_id_9(style="display: none;")
                li Инкапсуляция
                li Наследование
                li Полиморфизм
                li Абстракция
                li Посылка сообщений
                li Повторное использование
        button(onclick="showHide('block_id_9')").btn_show_hide show & hide 
        hr
        h4 АЛГОРИТМ
            ul#block_id_10(style="display: none;")
                li Линейные                   "а.линейный"
                li Выбора                     "а.выбора"
                li Цикла                      "а.цикла"
        button(onclick="showHide('block_id_10')").btn_show_hide show & hide 
        hr
        h4 ПАТТЕРНЫ
            ul#block_id_11(style="display: none;")
                li GRASP "новые обобщенные"
                    ul
                        li Information expert     "информационный эксперт"
                        li Creator                "создатель"
                        li Controller             "контроллер"
                        li Low coupling           "слабое зацепление"
                        li High cohesion          "высокая степень связанности"
                        li Polymorphism           "полиморфизм"
                        li Pure fabrication       "чистая выдумка"
                        li Indirection            "посредник"
                        li Protected variations   "устойчивый к изменениям"
                li GOF
                    ul 
                        li Создание объектов      "механизм инициализации, создавать объекты удобным способом."
                            ul
                                li Singleton
                                li Factory Method
                                li Prototype
                                li Builder
                                li Abstract Factory
                        li Структурные            "отношения между классами и объектами (работать совместно)"
                            ul
                                li Adapter
                                li Facade
                                li Composite
                                li Decorator
                                li Proxy
                                li Bridge
                                li Flyweight
                        li Поведенческие          "упростить взаимодействие между сущностями."
                            ul
                                li Strategy
                                li Iterator
                                li Observer
                                li Memento
                                li Command
                                li Interpreter
                                li Mediator
                                li State
                                li Template method
                                li Visitor
                                li Chain of responsibility
                        li АКРОНИМ
                            ul
                                li KISS          "чем проще система тем надежнее"
                                li DRY           "не повторяй себя"
                                li SOLID
                                    ul
                                        li SRP       "принцип единственной обязанности (Single responsibility principle)"
                                        li OCP       "принцип открытости/закрытости (Open/closed principle)"
                                        li LSP       "принцип подстановки Барбары Лисков (Liskov substitution principle)"
                                        li ISP       "принцип разделения интерфейса (Interface segregation principle)"
                                        li DIP       "принцип инверсии зависимостей (Dependency inversion principle)"
        button(onclick="showHide('block_id_11')").btn_show_hide show & hide 
        hr
        h4 БЛОК СХЕМА
            ul#block_id_12(style="display: none;")
                table 
                    tr
                        td Терминатор 
                        td Овал
                        td (начало и конец алгоритма)
                    tr
                        td Процес
                        td Прямоугольник
                        td (обработка данных)
                    tr
                        td Данные
                        td Параллелепипед
                        td (отображает данные)
                    tr
                        td Предопределенный процес
                        td Прямоугольник с линиями
                        td (ссылка на код в другом месте)
                    tr
                        td Решение
                        td Ромб
                        td (выбор)
                    tr
                        td Цикл
                        td Восьмигранник
                        td (цикл)
                    tr
                        td Соединитель
                        td Круг
                        td (разделение блок схемы на части)
                    tr
                        td Коментарий
                        td Скоба + штрихпунктир
                        td (коментарий)
                    tr
                        td Паралельные действия
                        td паралельные линии
                        td (паралельное выполнение)
        button(onclick="showHide('block_id_12')").btn_show_hide show & hide 
        hr
        h4 UML
            ul#block_id_13(style="display: none;")
                li Структурные                  "элементы диаграммы"
                    ul
                        li классов
                        li компонентов
                        li композитной структуры
                        li кооперации
                        li развёртывания
                        li объектов
                        li пакетов
                        li профилей
                li Поведения                     "элементы диаграммы"
                    ul
                        li деятельности
                        li состояний
                        li вариантов использования
                li Взаимодействия                "элементы диаграммы"
                    ul 
                        li коммуникации
                        li обзора взаимодействия 
                        li последовательности
                        li синхронизации
                li Зависимость
                    ul
                        li агрегация    "линия + ромб (часть - целое) часть отдельно сущ. от целого"
                        li композиция   "линия + ромб закрашеный (часть - целое) часть не отдельно от целого"
                        li зависимость  "пунктир + стрелка (независимое влияет на зависимое)"
                        li обобщение    "линия + стрелка (отношение наследования или реализации интерфейса)"
        button(onclick="showHide('block_id_13')").btn_show_hide show & hide 
        hr
        h4 ПРОТОТИПЫ ПРОЕКТА
            ul#block_id_14(style="display: none;")
                li WIREFRAME        "каркас приложения"
                li PROTOTYPE        "минимум стилей"
                li MOCKUP           "для демонстрации"
        button(onclick="showHide('block_id_14')").btn_show_hide show & hide 

        br
        textarea ТЕСТИРОВАНИЕ
            |
            |+-- UNIT TEST
            |+-- ТЕСТИРОВАНИЕ
            |    +-- функциональное тестирование            "проверке всего описанного функционала"
            |    +-- тестирования Верстки
            |    +-- usability тестирование                 "оценка удобства продукта в использовании"
            |    +-- тестирование безопасности
            |    +-- тестирование производительности сайта  "определение быстродействия сайта"

    section.tabContent 
        h1 HTML / PUG
        div.tabContent_html
            p !DOCTYPE html
            p html lang="en"
            p --- head
            p --- meta charset="utf-8"
            p --- title Name_Site
            p --- meta(name="viewport" content="width=device-width, initial-scale=1"
            p --- meta(name="keywords" content="ключевое слово 1, ключевое слово 2"
            p --- meta(name="description" content="Описание контента.")
            p --- link(rel="icon" type="image/png" href="images/favicon-16x16.png")
            p --- link(rel="stylesheet" href="fonts/font-awesome/css/font-awesome.css")
            p --- link(href="css/main.css" type="text/css" rel="stylesheet")
            p --- script(type="text/javascript" src="js/main.js")
            p --- body
            hr
            table.tabContent_html_table
                tr
                    td.b header
                    td.i - заглавие шапка
                tr
                    td.b nav
                    td.i - навигация
                tr
                    td.b section
                    td.i - секция
                tr
                    td.b article
                    td.i - новости статьи
                tr
                    td.b main
                    td.i - главный блок
                tr
                    td.b aside
                    td.i - сайдбар боковая панель
                tr
                    td.b footer
                    td.i - подвал
                tr
                    td.b figure
                    td.i - групировка изображения и подписи к ним
                tr
                    td.b hgroup
                    td.i - группирования заголовков веб-страницы
                tr
                    td.b span.name Техт
                    td.i - с отдельным текстом "span"
                tr
                    td.b abbr(title="пояснение") АБР
                    td.i - выделение абривиатуры
                tr
                    td.b address text
                    td.i - адресс контактн. данные
                tr
                    td.b cite Текст
                    td.i - цитата курсивом
                tr
                    td.b blockquote Текст
                    td.i - длиная цитата с верху и с низу рамка
                tr
                    td.b ins Текст
                    td.i - выделения текста
                tr
                    td.b b Текст
                    td.i - текст жирным
                tr
                    td.b strong Text
                    td.i - семантическое выделение
                tr
                    td.b u
                    td.i - подчеркнутый
                tr
                    td.b s
                    td.i - зачеркнутый
                tr
                    td.b em
                    td.i - курсив (<i>)
                tr
                    td.b small
                    td.i - маленький шрифт
                tr
                    td.b big
                    td.i - большой шрифт
                tr
                    td.b mark
                    td.i - выделение маркером
                tr
                    td.b dialog open
                    td.i - диалоговое окно
                tr
                    td.b p.anchorName1
                    td.i - ЯКОРЬ 1
                tr
                    td.b <section class="page1">
                    td.i - СЕКЦИЯ 1
                tr
                    td.b <div id="name"></div>
                    td.i - блок для одиночных классов
                tr
                    td.b <div class="name"></div>
                    td.i - блок для нескольких классов
                tr
                    td.b p
                    td.i - контейнер для текста
                tr
                    td.b <a href="www.site.com">text</a>
                    td.i - ссылка
                tr
                    td.b <a href="image/xxx.jpg" download>Скачать файл</a>
                    td.i - скачать файл
                tr
                    td.b <a href="image/xxx.jpg">Открыть файл в браузере</a>
                    td.i - открыть в браузере
                tr
                    td.b <br>
                    td.i - перевод строки
                tr
                    td.b <hr>
                    td.i - горизонтальная линия
                tr
                    td.b 
                        h1 h1 Текст
                    td.i - заголовок
                tr
                    td.b 
                        h2 h2 Текст
                    td.i - заголовок
                tr
                    td.b 
                        h3 h3 Текст
                    td.i - заголовок
                tr
                    td.b 
                        h4 h4 Текст
                    td.i - заголовок
                tr
                    td.b 
                        h5 h5 Текст
                    td.i - заголовок
                tr
                    td.b 
                        h6 h6 Текст
                    td.i - заголовок
                tr
                    td.b 
                        i i text
                    td.i - курсивное начертание шрифта



            xmp ------------------------------------------------------------------------------------
            xmp <textarea name="comment" cols="40" rows="3"></textarea>  <!--текстовое поле -->
            xmp <input type="text" size="40">                            <!--ввод текста -->
            xmp <input type="radio" name="text" value="ie">Text<Br>      <!--переключатель -->
            xmp <input type="submit" value="Отправить">                  <!--кнопка отправить -->
            xmp <input type="reset" value="Очистить">                    <!--кнопка очистить -->
            xmp <input type="range" id="rtl" min="0" max="100" value="0" oninput="ch_rad()"> <!--ползунок -->
            xmp <input type="text" id="ttl" value="0">
            xmp ------------------------------------------------------------------------------------                                                         
            xmp <!--таблица-->
            xmp <table border="1" width="300" bgcolor="#a9a9a9">
            xmp <tr>
            xmp <td>1</td>
            xmp <td>2</td>
            xmp <td>3</td>
            xmp </tr>
            xmp </table>
            xmp ------------------------------------------------------------------------------------
            xmp <!--выпадающие списки -->
            xmp <form action="/php/_page_test.php" method="get">
            xmp <select id="region"  name="region">
            xmp <option>Select Region</option>
            xmp <option value="Africa">Africa</option>
            xmp <option value="Americas">Americas</option>
            xmp <option value="Antarctica">Antarctica</option>
            xmp <option value="Asia">Asia</option>
            xmp </select>
            xmp <br><br>
            xmp <p><input class="input_img_btn" type="submit" value=""></p>
            xmp </form>
            xmp ------------------------------------------------------------------------------------
            xmp <!--список описания-->
            xmp <dl> 
            xmp <dt>Термин 1</dt>
            xmp <dd>Описание термина 1</dd>
            xmp <dt>Термин 2</dt>
            xmp <dd>Описание термина 2</dd>
            xmp </dl>
            xmp ------------------------------------------------------------------------------------
            xmp <details open>Текст</details>  <!--раскрывающийся список-->
            xmp ------------------------------------------------------------------------------------
            xmp <img src="http://place-hold.it/200x100" alt="">  <!-- тестовая картинка  -->

    section.tabContent 
        h1 CSS
        br
        p #name1, #name2, #name3 { /*для id */ }
        p .name1, .name2, .name3 { /*для class*/ }

        p #button1:hover, #button2:hover { /*при наведении курсора*/ }
        p #button1:active, #button2:active { /*при нажатии курсора*/ }

        p /*---VARIABLE--------------------------------------------------------*/
        p @color-red: #f44336;                /*красный*/
        p @color-pink: #ff007e;               /*красный*/
        p @color-purple: #812991;             /*фиолетовый*/
        p @color-turquoise: #00AFFF;          /*бирюзовый*/
        p @color-turquoise_1: #30D5C8;        /*бирюзовый*/
        p @color-green: #48A65B;              /*зеленый*/
        p @bg-light: #3a3a3a;                 /*фон*/
        p @bg-dark:  #2b2b2b;                 /*фон*/
        p @border-color: #222222;             /*фон*/
        p @border: 1px solid #3a3a3a;         /*рамка*/

        p /*---FONT-------------------------------------------------------------*/  
        p @font-face {
        p font-family: 'OpenSans-Regular';
        p src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
        p }

        p /*---РАЗМЕР------------------------------------------------------*/
        p height: 0px; /*высота в пикселях*/
        p height: 0vh; /*высота по области просмотра*/
        p height: 0%;  /*высота в процентах*/
        p width: 0px;  /*ширина в пикселях*/
        p width: 0vw;  /*ширина по облости просмотра*/
        p width: 0%;   /*ширина в процентах*/

        p resize: none; /*отмена изменения размера textarea*/

        p /*---ПОЛОЖЕНИЕ ЭЛЕМЕНТОВ-------------------------------------------------*/
        p position: absolute;       /*абсолютное позиционирование*/
        p position: relative;       /*относительное позиционирование*/
        p position: fixed;          /*фиксированное положение элемента при прокрутке стр.*/
        p position: static;
        p position: inherit;        /*наследует своиства род.*/
        p top: calc(0% - 0px);      /*выравнивание по высоте (200-половина блока)*/
        p top: 0px;                 /*расположение элемента от верха в пикселях*/
        p top: 0%;                  /*расположение элемента от верха в процентах*/
        p left: calc(50% - 0px);    /*выравнивание по ширине (200-половина блока)*/
        p left: 0px;                /*расположение элемента слева в пикселях*/
        p left: 0%;                 /*расположение элемента слева в процентах*/
        p bottom: 0px;              /*растояние снизу в пикселях*/
        p bottom: 0%;               /*растояние снизу в процентах*/
        p z-index: 0;               /*отметка элемента по высоте плана*/

        p /*---ОБТЕКАНИЕ ЭЛЕМЕНТА---------------------------------------------*/
        p float: right; /*обтекание по правому краю */
        p float: left;  /*обтекание по левому краю */
        p clear: both;  /*отмена обтекание блока по указаному краю */

        p /*---ОТСТУПЫ ЭЛЕМЕНТА------------------------------------------*/
        p margin: 0 auto;       /*выровнять по центру горизонтально*/
        p margin: 0px;          /*отступ вокруг элемента в пикселях*/
        p margin: 20%;          /*отступы вокруг элемента в процентах*/
        p margin-left: 0px;     /*отступ слева*/
        p margin-right: 0px;    /*отступ справа*/
        p margin-top: 0px;      /*отступ сверху*/
        p margin-bottom: 0px;   /*отступ снизу*/

        p /*---ПОЛЯ ВОКРУГ ТЕКСТА------------------------------------*/
        p padding: 0px;          /*поля вокруг текста*/
        p padding-left: 0px;     /*поле слева*/
        p padding-right: 0px;    /*поле справа*/

        p padding:  30px 15px;   /*верх-низ и право-лево*/

        p /*---ПОКАЗАТЬ/СПРЯТАТЬ БЛОК--------------------------------------------------*/
        p display: table;         /*для выравнивания по центру*/
        p display: none;          /*прячем от показа*/
        p display: block;         /*показать блок*/
        p display: inline;        /*выровнять вдоль гориз. линии*/

        p /*---ФОН----------------------------------------------------------*/
        p background-color: #282828;      /*цвет фона*/
        p background: rgba(0, 0, 0, 0.5); /*фон полупрозрачный*/
        p background: none;               /*без фона*/

        p background: url(../images/2.jpg) no-repeat fixed;  /*repeat-x фиксир.*/
        p background-size: cover;       /*фон занимает всю доступную площадь*/

        p background: -webkit-linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0));
        p background: -o-linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0));
        p background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0));

        p background-position: 50% 50%;

        p /*---РАМКА--------------------------------------------------------*/
        p border: 1px solid #C0C0C0;      /*рамка, толщина, линия, цвет*/
        p border: 1px solid red;          /*рамка, толщина, линия, цвет*/
        p border: 1px solid transparent;  /*с прозрачной рамкой*/
        p border-top: 0px solid white;    /*рамка сверху белая*/
        p border-bottom: 0px solid white; /*рамка снизу белая*/
        p border-left: 0px solid white;   /*рамка слева белая*/
        p border-right: 0px solid white;  /*рамка справа белая*/
        p border: none;                   /*без рамки*/
        p border-radius: 0px;  /*скругления углов рамки, радиус рамки*/

        p border: none;     /*Линия не отображается и значение ее толщины обнуляется*/
        p border: dotted;   /*Линия состоящая из набора точек.*/
        p border: dashed;   /*Пунктирная линия, состоящая из серии коротких отрезков.*/
        p border: solid;    /*Сплошная линия.*/
        p border: double;   /*Двойная линия.*/
        p border: groove;   /*Создает эффект вдавленной линии.*/
        p border: ridge;    /*Создает эффект рельефной линии.*/
        p border: inset;    /*Псевдотрехмерная линия.*/
        p border: outset;   /*Псевдотрехмерная линия.*/
        p border: inherit;  /*Наследует значение родителя.*/

        p outline: none;    /*для textarea*/

        p -webkit-clip-path: polygon(0 20px, 20px 0, 100px 0, 120px 20px, 600px 20px, 600px 300px, 0 300px);

        p /*---ТЕНЬ------------------------------------------------------------*/
        p box-shadow: none;                               /*убрать тень*/
        p box-shadow: 0 0 30px rgba(0,0,0,0.8);           /*тень блока*/
        p box-shadow: 0 0 60px rgba(0, 0, 0, .8) inset;   /*внутренняя тень блока*/
        p text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);     /*тень текста*/
        p text-shadow: -1px -1px #000,   0 1px 0 #444;
        p opacity: 0.5;    /* Полупрозрачность элемента от 0 до 1*/

        p /*---ТЕКСТ----------------------------------------------------------*/
        p color: #00BFFF;                    /*цвет текста*/

        p font-family: 'OpenSans-Light', sans-serif;    /*шрифт*/
        p font-family:  'SourcexmpPro-Regular';
        p font-size: 0%;                     /*размер шрифта в процентах*/
        p font-size: 11pt;                   /*размер шрифта в пунктах*/  
        p font-size: 16px;                   /*размер шрифта в пикселях*/
        p font-style: italic;                /*стиль текста (курсив)*/
        p font-style: bold;                  /*стиль текста (жирный)*/
        p font-weight: 600;
        p font-weight: bold;

        p text-align: center;                /*выравнивание текста по центру*/
        p text-align: left;                  /*выравнивание текста слева*/
        p text-align: right;                 /*выравнивание текста справа*/
        p text-decoration: none;             /*убирать подчёркивание у ссылок */
        p text-decoration: underline;        /*подчеркивание текста*/
        p text-decoration-color: blue;       /*цвет подчеркивания синим цветом*/
        p text-decoration-style: dashed;     /*тип линии подчеркивания*/
        p text-transform: uppercase;         /*текст большими буквами*/
        p text-indent: 20px;                 /*Отступ первой строки в пикселах*/

        p column-count: 3;                   /*текст в три колонки*/
        p column-rule: 1px dashed grey;      /*вертикальные линии между колонками*/

        p line-height: 0px;                  /*межстрочный интервал по центру = выс блока*/
        p letter-spacing: 9px;               /*межбуквенный интервал*/
        p user-select: none;                 /*убирать выделение текста */

        p list-style-type: circle;           /*круг*/
        p list-style-type: disc;             /*точка*/
        p list-style-type: square;           /*квадрат*/
        p list-style-type: decimal;          /*арабскими числами*/
        p list-style-type: upper-alpha;      /*заглавные латинские*/
        p list-style-type: upper-roman;      /*римскими числами*/
        p list-style-type: none;             /*отмена маркера*/

        p #---КУРСОР--------------------------------------------------------
        p cursor: pointer;                   /*курсор указатель*/
        p cursor: move;                      /*курсор перемещение*/
        p cursor: col-resize;                /*курсор горизонтальное смещение размера границы*/
        p cursor: row-resize;                /*курсор вертикальное смещение размера границы*/

        p #---ПОЛОСА ПРОКРУТКИ--------------------------------------------------------
        p overflow: hidden;    /*сокрытие полосы прокрутки*/
        p overflow-x: hidden;  /*cокрытие горизонтальной полосы*/
        p overflow-y: hidden;  /*cокрытие вертикальной полосы*/
        p overflow: scroll;    /*добавляем полосы прокрутки*/

        p /*---3D--------------------------------------------*/
        p perspective: 800px;        /*установка перспективы*/

        p transform-style: preserve-3d;
        p transform: rotate3D(1, 1, 1, 0deg);
        p transform: rotateX(0deg);             /*вращение относительно коор. Х*/
        p transform: rotateY(0deg);             /*вращение относительно коор. Y*/
        p transform: rotateZ(0deg);             /*вращение относительно коор. Z*/
        p transform: translateX(0px);           /*перемещение по оси Х*/
        p transform: translateY(0px);           /*перемещение по оси Y*/
        p transform: translateZ(0px);           /*перемещение по оси Z*/
        p transform: scale3d(4, 4, 1);          /*масштабирование*/
        p transform: scale(1.2, 1.2);
        p transform: rotateX(70deg) scale3d(4, 4, 1) translateZ(-750px) translateY(-500px) translateX(-50px);

        p transform-origin: x y z;
        p transform-origin: 100px 100px 100px;
        p transform-origin: 100% 100% 100%;
        p transform-origin: 100% 0 -50px;

        p /*---ТАЙМИНГ----------------------------------------------------------------*/
        p transition: 1.5s linear;      /*нормально нормально нормально*/
        p transition: 1.5s ease-in-out; /*медленно нормально медленно*/
        p transition: 1.5s ease;        /*медленно быстро медленно*/
        p transition: all 1s;

        p /*---АНИМАЦИЯ---------------------------------------------*/
        p .anim {
        p   animation-timing-function: linear;     /*тип анимации = ровная*/
        p   animation-iteration-count: infinite;
        p   animation-duration: 5s;                /*время цикла анимации*/
        p   animation-name: anim;                  /*наименование анимации*/
        p }

        p @-webkit-keyframes anim {
        p   0% {-webkit-transform: rotateZ(0deg);}        /*анимировать с ...*/
        p   100% {-webkit-transform: rotateZ(-360deg);}   /*анимировать по ...*/
        p }

        p /*---*/
        p flex: 0 0 auto;







footer 
    p.p_footer pug -w index.pug & stylus -w main.styl

<script src="javascript/main.js"></script>