.box3d_wrp
	height 500px
	width 100%
	position relative
	margin 0 auto

#box3d
	height 500px
	width 200px
	-webkit-transform-style preserve-3d
	transform-style preserve-3d
	transform-origin 100px 0 -100px
	transition 1.5s ease
	text-shadow 1px 1px 1px rgba(0,0,0,.3)
	margin 0 auto

#box3d_c, #box3d_l, #box3d_t, #box3d_r
	height 500px
	width 200px
	position absolute
	top 0px
	float left
	text-align center
	line-height 750px

#box3d_c
	left 0px
	background url(../images/bg2.png) repeat, url(../images/slide/imgCube_1.jpg) no-repeat

#box3d_l
	left -200px
	background url(../images/bg2.png) repeat, url(../images/slide/imgCube_2.jpg) no-repeat
	transform rotateY(-90deg)
	transform-origin 100% 0

#box3d_t
	left -400px
	background url(../images/bg2.png) repeat, url(../images/slide/imgCube_3.jpg) no-repeat
	transform rotateY(180deg)
	transform-origin 300px 0 -100px

#box3d_r
	left 200px
	background url(../images/bg2.png) repeat, url(../images/slide/imgCube_4.jpg) no-repeat
	transform rotateY(90deg)
	transform-origin 0 0

#but_box3d_1, #but_box3d_2, #but_box3d_3, #but_box3d_4
	height 500px
	width 200px
	position absolute
	top 0px
	left 0
	bottom 0
	right 0
	margin auto
	cursor pointer

#but_box3d_1
	display block

#but_box3d_2, #but_box3d_3, #but_box3d_4
	display none

.s1
	color #f90
	background rgba(0,0,0,0.45)
	font-size 16px
	font-weight bold
	padding 10px 10%