.topbutton
  width 70px
  background-color #2c303b
  border 2px solid #48a65b
  text-align center
  padding 5px
  position fixed
  bottom 50px
  right 50px
  cursor pointer
  color #48a65b
  font-family verdana
  font-size 12px
  border-radius 5px
  -moz-border-radius 5px
  -webkit-border-radius 5px
  -khtml-border-radius 5px