.btn_show_hide
  border 1px solid #48a65b
  border-radius 3px
  background none
  color #48a65b
  padding 3px 6px 3px 6px
  margin-right 10px

.btn_show_hide:hover
  box-shadow 0 0 5px rgba(0, 0, 0, .8) inset
  text-shadow 1px 1px 5px rgba(0, 0, 0, .3)

  /*button*/
.btn-white-submit
	height 50px
	width 100px
	color white
	background-color #3dc0f1
	border 1px solid #3dc0f1
	box-shadow 0 4px 16px rgba(0,0,0,0.2)
	line-height 50px
	font-size 100%
	text-align center
	text-transform uppercase
	cursor pointer
  font-family 'OpenSans-Regular', sans-serif

.btn-white-submit:hover
	background-color #edeef0
	border 1px solid #3dc0f1;
	color #3dc0f1
	text-shadow 1px 1px 1px rgba(0,0,0,.3)
	transition 0.3s linear
