@font-face
	font-family 'SourceCodePro-Regular'
	src: url('../fonts/SourceCodePro-Regular.ttf')

@font-face
	font-family 'HelveticaNeueCyr-Black'
	src: url('../fonts/HelveticaNeueCyr-Black.ttf')

@font-face
	font-family 'OpenSans-Italic'
	src: url('../fonts/OpenSans-Italic.ttf')

